img{
  object-fit: cover;
}

th{
  @apply text-sm font-medium text-white px-6 py-4 text-left bg-[#263238]
}

td{
  @apply px-6 py-4 whitespace-nowrap text-sm font-medium text-white bg-[#263238]
}

/* setting for scroll bar */
::-webkit-scrollbar {
  width: 0px;
}

#loading{
  background-color: rgba(0, 0, 0, 0.7);
}
